In [1]:
library(dplyr)
library(httr)
library(glue)
library(rvest)
library(stringr)
library(data.table)
library(tidyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘glue’


The following object is masked from ‘package:dplyr’:

    collapse


Loading required package: xml2


Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last

In [2]:
start_period = '2015'
end_period = '2015'

In [3]:
parsing_df <- function(data, sc, h, cat=NA, year=NA, month=NA){
    
    data = data %>% str_replace_all("'", ' ')
    
    df <- read.table(text = data, sep = ',', stringsAsFactors = F)
    df <- df[,sc]
    
    colnames(df) <- h
    
    df['Categoria'] = cat
    df['Anno'] = year
    df['Mese'] = month
    
    return(df)
    
}

In [4]:
clear_content <- function(data, sc = c(1:3,11), y=NA, m=NA){
    
    data <- data[data!=""]

    len_data = data %>% str_detect('^\\d+') %>% sum()/3

    header <- read.table(text = data[3],sep = ',', stringsAsFactors = F)[1,sc] %>% as.character()
        
    df_ix <- data.frame(ix_start = str_which(data, '^\\d+',negate = T) + 1, 
                    h = data[!str_detect(data, '^\\d+')], 
                    stringsAsFactors = F) %>% 
    filter(str_detect(pattern = 'Totale|Maschi|Femmine', string = h)) %>%
    mutate(categoria = str_extract(h, '[A-Za-z]+$')) %>% 
    select(-h) %>%
    mutate(ix_stop = ix_start + len_data - 1) %>%
    data.frame() %>%
    select(categoria, ix_start, ix_stop)
    
    data_list <- list()

    for(i in 1:nrow(df_ix)){

        data_list[[df_ix$categoria[i]]] <- parsing_df(data[df_ix$ix_start[i]:df_ix$ix_stop[i]], 
                                                      sc, 
                                                      header, 
                                                      year = y,
                                                      month = m,
                                                      cat = df_ix$categoria[i])

    }
    
    aux_df <- data_list %>% do.call(what = rbind)
    row.names(aux_df) <- NULL
    
    return(aux_df)
    
}

## OTTENGO LE PROVINCE

In [5]:
get_province = 'http://demo.istat.it/bilmens{y}gen/query1.php?lingua=ita&allrp=1&periodo=1&submit=Tavola'

In [6]:
get_data = 'http://demo.istat.it/bilmens{y}gen/bild7b1.php?lingua=ita&allrp=4&Pro={pv}&periodo={pr}&submit=Salva'

In [7]:
months = seq(1,12,1)

In [8]:
years = seq(as.integer(start_period), as.integer(end_period), by=1)

In [9]:
for(year in years){
    
    cat(year, '\n')
    
    cont <- GET(glue(get_province, y = year)) %>% content()
    tbl <- cont %>% html_nodes('table') %>% html_table()
    
    df <- tbl[[2]]
    
    province <- df %>% filter(str_detect(X1, '\\d+')) %>% pull(X1) %>% unique
    
    for(prov in province){
        
        cat(prov, '\n')
        
        for(month in months){
            
            to_read_url <- glue(get_data, y = year, pv = prov, pr = month)
                        
            fwrite(clear_content(readLines(to_read_url), y = year, m = month), glue('data/pop_{pr}_{y}_{m}.csv', pr = str_pad(prov, 5, 'left', '0'), y = year, m = str_pad(month,2, 'left', '0')))
                
            Sys.sleep(5)
        }        
        
    }
    
    pop_data <- dir('data', full.names = T, pattern = 'pop_*') %>% lapply(fread)
    full_pop_data <- pop_data %>% do.call(what = rbind)
    
    fwrite(full_pop_data, glue('popolazione_italia_{y}', y = year))
    
    lapply(pop_data, file.remove)
}

2015

ERROR: Error in tbl[[2]]: subscript out of bounds

In [13]:
clear_content(readLines(to_read_url), y = year, m = month)

ERROR: Error in textConnection(text, encoding = "UTF-8"): object 'x' not found

In [14]:
url <- to_read_url

In [57]:
data_list <- dir('data', full.names = T)

In [15]:
x <- readLines(url)
x <- x[x!=""]

cat('file length:', length(x), '\n')

len_data = x %>% str_detect('^\\d+') %>% sum()/3

selected_columns <- c(1:3,11)
header <- read.table(text = x[3],sep = ',', stringsAsFactors = F)[1,selected_columns] %>% as.character()
cat('data length:', len_data, '\n')

file length: 952
data length: 315

In [16]:
header

[1] "Codice Comune"              "Comuni"
[3] "Popolazione inizio periodo" "Popolazione fine periodo"

In [17]:
df_ix <- data.frame(ix_start = str_which(x, '^\\d+',negate = T) + 1, 
                    h = x[!str_detect(x, '^\\d+')], 
                    stringsAsFactors = F) %>% 
    filter(str_detect(pattern = 'Totale|Maschi|Femmine', string = h)) %>%
    mutate(categoria = str_extract(h, '[A-Za-z]+$')) %>% 
    select(-h) %>%
    mutate(ix_stop = ix_start + len_data - 1) %>%
    data.frame() %>%
    select(categoria, ix_start, ix_stop)

df_ix

  categoria ix_start ix_stop
1 Totale      4      318
2 Maschi    321      635
3 Femmine   638      952

In [18]:
selected_columns

[1]  1  2  3 11

In [19]:
file_list <- list()

for(i in 1:nrow(df_ix)){
    
    file_list[[df_ix$categoria[i]]] <- parsing_df(x[df_ix$ix_start[i]:df_ix$ix_stop[i]], selected_columns, header, cat = df_ix$categoria[i])
    
}

In [20]:
readLines(url) %>% clear_content

    Codice Comune Comuni               Popolazione inizio periodo
1   1001          Agliè                 2665
2   1002          Airasca               3822
3   1003          Ala di Stura           466
4   1004          Albiano d Ivrea       1748
5   1005          Alice Superiore        713
6   1006          Almese                6408
7   1007          Alpette                278
8   1008          Alpignano            17115
9   1009          Andezeno              2000
10  1010          Andrate                519
11  1011          Angrogna               897
12  1012          Arignano              1057
13  1013          Avigliana            12522
14  1014          Azeglio               1348
15  1015          Bairo                  797
16  1016          Balangero             3190
17  1017          Baldissero Canavese    545
18  1018          Baldissero Torinese   3783
19  1019          Balme                  112
20  1020          Banchette             3259
21  1021          Barbania              1619
22  1022          Bardonecchia          3232
23  1023          Barone Canavese        579
24  1024          Beinasco             18237
25  1025          Bibiana               3450
26  1026          Bobbio Pellice         558
27  1027          Bollengo              2155
28  1028          Borgaro Torinese     13599
29  1029          Borgiallo              567
30  1030          Borgofranco d Ivrea   3730
⋮   ⋮             ⋮                    ⋮
916 1286          Vallo Torinese         378
917 1287          Valperga              1669
918 1288          Valprato Soana          58
919 1289          Varisella              417
920 1290          Vauda Canavese         743
921 1291          Venaus                 477
922 1292          Venaria Reale        17698
923 1293          Verolengo             2544
924 1294          Verrua Savoia          727
925 1295          Vestignè               400
926 1296          Vialfrè                137
927 1297          Vico Canavese          443
928 1298          Vidracco               261
929 1299          Vigone                2664
930 1300          Villafranca Piemonte  2432
931 1301          Villanova Canavese     602
932 1302          Villarbasse           1802
933 1303          Villar Dora           1489
934 1304          Villareggia            528
935 1305          Villar Focchiardo     1067
936 1306          Villar Pellice         574
937 1307          Villar Perosa         2092
938 1308          Villastellone         2460
939 1309          Vinovo                7458
940 1310          Virle Piemonte         595
941 1311          Vische                 684
942 1312          Vistrorio              283
943 1313          Viù                    525
944 1314          Volpiano              7885
945 1315          Volvera               4506
    Popolazione fine periodo Categoria Anno Mese
1    2667                    Totale    NA   NA
2    3829                    Totale    NA   NA
3     468                    Totale    NA   NA
4    1747                    Totale    NA   NA
5     714                    Totale    NA   NA
6    6405                    Totale    NA   NA
7     277                    Totale    NA   NA
8   17127                    Totale    NA   NA
9    2006                    Totale    NA   NA
10    518                    Totale    NA   NA
11    892                    Totale    NA   NA
12   1056                    Totale    NA   NA
13  12487                    Totale    NA   NA
14   1347                    Totale    NA   NA
15    799                    Totale    NA   NA
16   3188                    Totale    NA   NA
17    555                    Totale    NA   NA
18   3781                    Totale    NA   NA
19    112                    Totale    NA   NA
20   3255                    Totale    NA   NA
21   1620                    Totale    NA   NA
22   3230                    Totale    NA   NA
23    583                    Totale    NA   NA
24  18240                    Totale    NA   NA
25   3461                    Totale    NA   NA
26    558                    Totale    NA   NA
27   2161                    Totale    NA   NA
28  13602                    Totale    NA   NA
29    563                    Totale    NA   NA
30   3739                    Totale    NA   NA
⋮   ⋮                        ⋮         ⋮    ⋮
916   379                    Femmine   NA   NA
917  1672                    Femmine   NA   NA
918    57                    Femmine   NA   NA
919   416                    Femmine   NA   NA
920   741                    Femmine   NA   NA
921   476                    Femmine   NA   NA
922 17691                    Femmine   NA   NA
923  2544                    Femmine   NA   NA
924   726                    Femmine   NA   NA
925   399                    Femmine   NA   NA
926   137                    Femmine   NA   NA
927   443                    Femmine   NA   NA
928   262                    Femmine   NA   NA
929  2661                    Femmine   NA   NA
930  2440                    Femmine   NA   NA
931   601                    Femmine   NA   NA
932  1802                    Femmine   NA   NA
933  1495                    Femmine   NA   NA
934   528                    Femmine   NA   NA
935  1064                    Femmine   NA   NA
936   569                    Femmine   NA   NA
937  2088                    Femmine   NA   NA
938  2459                    Femmine   NA   NA
939  7468                    Femmine   NA   NA
940   598                    Femmine   NA   NA
941   680                    Femmine   NA   NA
942   284                    Femmine   NA   NA
943   524                    Femmine   NA   NA
944  7887                    Femmine   NA   NA
945  4499                    Femmine   NA   NA